article {
    text-align: justify;
    font-size: 10px;
    padding-right: 50px;
    padding: 30px;
}

.bal h1 {
    padding: 10px 0 10px 0;
    font-size: 15px;
}

.bal img {
    float: left;
    width: 250px;
}

article ul li {
    list-style:square;
}