header {
    width: 80%;
    height: 300px;
    max-width: 1000px;
    margin: auto;
    background-image: url(/design/beer-new_401732638.jpg);
    background-size: cover;
}

header h1 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 32px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Garamond;
    text-align: left;
}